.detail-wrapper{
  margin: 10px;

  .detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    .detail-description{
      width: 800px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      box-shadow: 0 1px 2px #b1b5d4;
      margin-right: 70px;
      background: #fffffc;
      h4{
        align-self: start;
        margin: 20px 20px 0;
      }
      p{
        padding: 0 15px;
        font-size: medium;
        line-height: 1.4;
        text-align: justify;
      }
      img{
        width: auto;
        height: 500px;
      }
      .detail-info{
        display: flex;
        justify-content: space-around;
        color: #a9a4a4;
      }
    }
    .booking{
      box-shadow: 0 2px 3px #b1b5d4;
      border-radius: 5px;
      height: 300px;
      position: fixed;
      background: #fffffc;
      right: 9%;
      .date-picker-wrapper{
        .date-picker{
          height: 50px;
        }
      }
    }
  }
  a{
    text-decoration: none;
    border: none;
  }
}

@media (max-width: 1600px) {
  .detail-wrapper{
    .detail{
      padding: 10px 0;
      .booking{
        position: initial;
        margin: 50px auto;
      }
      .detail-description{
        margin: 10px auto;
      }
    }
  }
}
@media (max-width: 900px) {
  .detail-wrapper{
    .detail{
      .booking{
        position: initial;
        margin: 50px auto;
      }
      .detail-description{
       width: 500px;
        .detail-info{
          font-size: small;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .detail-wrapper{
    .detail{
      .booking{
        select{
          font-size: small;
        }
      }
      .detail-description{
        width: 350px;
        .detail-info{
          font-size: x-small;
        }
        p{
          font-size: small;
        }
      }
    }
  }
}