.card {
  box-shadow: 0 2px 3px #888181;
  border-radius: 3px;
  transition: transform 0.2s linear;
  margin: 10px;
  background: #fff;
  width: 340px;

  img{
    display: block;
    width: 100%;
    height: 250px;
  }

  &:hover {
    transform: translateY(-5px);
  }
  .information{
    font-size: small;
    padding: 10px;
    div{
      display: flex;
      justify-content: space-between;
    }
    h3{
      color:#797979;
    }
    span{
      color: #213d3e;
      margin: 10px;
    }
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .card{
    width: 250px;
    margin: 20px;
  }
}