.menu-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4a7c8a;
  box-shadow: 1px 2px 3px #6f6c6c;
  border-radius: 3px;;
  a{
    text-decoration:none;
    cursor:pointer;
    color: #fff;
    &.link{
      border-radius: 3px;
      padding: 13px;
    }
    &:hover {
      background: #485aaf;
    }

    &.active {
      background: #485aaf;
    }
  }
}