.home-wrapper{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  a{
    text-decoration: none;
    color: #fff;
  }
  .card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;

  }
}

