.auth{
  margin: 20% auto;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #847676;
  border: 1px solid #8a8080;
  padding: 10px;
  background: white;
  border-radius: 3px;
}

@media (min-width: 600px) {
  .auth{
    width: 500px;
  }
}