body {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  width: 85%;
  margin: auto;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  background: #f5fdfd;
}

@media (max-width: 500px) {
  body{
    width: 100%;
  }
}