.input{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  .label{
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
  }
  .inputElement{
    outline: none;
    border:1px solid #ccc;
    font: inherit;
    padding: 6px 10px;
    background-color: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
    &:focus{
      outline: none;
      background: #ccc;
    }
  }
  .invalid{
    border: 1px solid red;
    background: #fa888f;
  }
}