.Button{
  outline: none;
  cursor: pointer;
  width: auto;
  height: 30px;
  background: transparent;
  padding: 5px;
  margin: 10px;
  font: inherit;
  font-weight: bold;
  border:none;
  color:white;
  transition: all 0.3s ease-out;
  &:disabled{
    background: #ccc;
    cursor: not-allowed;
    border-radius: 3px;
  }
  &:hover{
    color: #0e0e0e;
  }
}
.Success {
  color: #5C9210;
}

.Danger {
  color: #944317;
}